*~
.gradle
build/
out/
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/performanceTest/build
/subprojects/*/ide
*.iml
*.ipr
*.iws
/buildSrc/out
#/gradle
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
*.sublime-*
application.conf
application.json
application.properties
logback.groovy
logback.xml
*.swp
